<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta nom="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur mon site</h1>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 - Mon Site</p>
    </footer>
    <script>
        fetch('/set-timezone?timezone=' + Intl.DateTimeFormat().resolvedOptions().timeZone)
            .then(response => response.text())
            .then(data => console.log(data));
    </script>
    
</body>
</html>
